:root {
    --purple: rgba(65, 5, 105, 0.842);
}

.container {
    display: block;
    margin: 180px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40vw;
    background-color: white;
}

#start-button {
    background-color: var(--purple);
}